body {
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
  color: white;
}

#container {
  width: 1000px;
  border: 2px solid orange;
  margin: auto;
}

#stats {
  display: inline-block;
  width: 190px;
  float: right;
  border: 2px solid white;
  height: 100%;
  color: white;
}
