body {
  background-color: #00a926;
  color: white;
}

h1 {
  text-align: center;
  color: white;
  font-family: 'Rancho';
}

#container {
  width: 1020px;
  margin: auto;
}

#game {
  display: inline-block;
  border: 10px outset #008518;
}

#stats {
  display: inline-block;
  width: 190px;
  float: right;
  border: 5px outset rgb(120, 114, 51);
  background-color: rgba(210,205,127, 0.8);
  height: 100%;
  color: white;
}

#login {
  border: 5px outset rgb(120, 114, 51);
  background-color: rgba(210,205,127, 0.8);
  width: 600px;
  margin: auto;
}

#login button {
  display: block;
  background-color: #00a926;
  margin: auto;
  font-size: 48px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 5px outset #008518;
}

#login input {
  display: block;
  margin: auto;
  font-size: 48px;
  margin-top: 5px;
  margin-bottom: 5px;
}
