extends ../shared/template

block content
  h1 Sapphire Rain

  #login
    form(method='post', action='/users/login')
      input(type='email', name='email', placeholder='Email')
      input(type='password', name='password', placeholder='Password')
      button Log In
    button#registration Register



block scripts


  //- form(action='/login' method='post')
  //-   input(type='text' name='username' placeholder='username')
  //-   input(type='password' name='password' placeholder='password')
  //-   button Log In
