extends ../shared/template

block content
  h1 Sapphire Rain



block scripts


  //- form(action='/login' method='post')
  //-   input(type='text' name='username' placeholder='username')
  //-   input(type='password' name='password' placeholder='password')
  //-   button Log In
